fastapi
uvicorn
sqlalchemy
psycopg2-binary
google-genai
google-generativeai
firebase-admin
python-dotenv
geopy
exifread
piexif
Pillow
httpx
pytest
pytest-asyncio
pg8000
google-cloud-sql-connector[pg8000]
python-multipart
jwt
python-jose
networkx
cachetools
deep-translator
